body{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #007bc2;
    font-weight: 700;
}
.nav-link{
    z-index: 2;
}
.navbar-light .navbar-nav .nav-link.active {
    color: orange;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff9d00;
    font-weight: 700;
}
.navbar-nav{
    margin-left: auto;
}
.container{
    margin-bottom: 5px;
}
.carousel-indicators li{
    width: 16px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff9d00;
    border: none;
}
.carousel-inner{
    height: 550px;
}

.banner-bg{
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 110px;
    height: auto;
}
.carousel-indicators .active{
    width: 45px;
    border: none;
}
.seeMore:hover{
    text-decoration: none;
}
.buy-now-btn{
    color: white;
    background-color: black;
    font-weight: 700;
    outline: none;
    border: none;
    width: 120px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    transition: all ease-in .4s;
}

.buy-now-btn:hover{
    background-color: #007bc2;
}
.carousel-control-next-icon{
    color: #007bc2;
}
h1{
    font-weight: 700;
    font-size: 41px;
}
h2{
    font-size: 30px;
    font-weight: 500;
}
h5{
    font-weight: 700;
}
.card-footer{
    border: none;
    background-color: white;
}

.name-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.seeMore{
    color: #ff9d00;
    font-weight: 700;
}
.card{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px lightgray;
    padding: 30px 20px;
}
.catg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange-shape{
    width: 100px;
    height: 5px;
    background-image: linear-gradient(to left, #f89b06, #f8b344);
    border-radius: 5px;
    margin-left: 30px;
}
.content{
    padding: 20px;
    box-shadow: 1px 1px 20px lightgray;
    border-radius: 8px;
}
.blog{
    height: 400px;
    width: 100%;
    /* padding: 20px; */
}